@{
    ViewBag.Title = "項目清單";
}

<div id="vue_Form">
    @*清單*@
    <div id="searchResult" v-if="!$.isEmptyObject(serverlist)">
        <div class="table-scroll">
            <table class="table table-bordered" style="table-layout:fixed" cellspacing="0">
                <thead>
                    <tr>
                        <th>項目編號</th>
                        <th>項目名稱</th>
                        <th>金額</th>
                        <th>修改</th>
                        <th>刪除</th>
                    </tr>
                </thead>

                <tbody>
                    <tr v-for="(item, index) in serverlist">
                        <td>
                            <span v-if="item.showupdate && item.newitem">
                                <input type="text" class="text-box" v-model="item.itemid" />
                            </span>
                            <span v-else>{{item.itemid}}</span>
                        </td>
                        <td>
                            <span v-if="item.showupdate">
                                <input type="text" class="text-box" v-model="item.itemname" />
                            </span>
                            <span v-else>{{item.itemname}}</span>
                        </td>
                        <td>
                            <span v-if="item.showupdate">
                                <input type="number" class="text-box" min="0" v-model="item.amount" />
                            </span>
                            <span v-else>{{item.amount}}</span>
                        </td>
                        <td>
                            <span v-if="item.showupdate" style="display:flex;justify-content:space-evenly">
                                <span class="fa fa-check green-link" v-on:click="Update_Item(item)"></span>
                                <span class="fa fa-times red-link" v-on:click="Cancel_Update(item, index)"></span>
                            </span>
                            <span v-else class="fa fa-pencil blue-link" title="編輯" v-on:click="Show_Update(item)"></span>
                        </td>
                        <td>
                            <span v-if="!item.newitem" class="fa fa-trash red-link" v-on:click="Delete_Item(item, index)"></span>
                        </td>
                    </tr>
                </tbody>

                <tfoot v-if="!$.isEmptyObject(serverlist)">
                    <tr>
                        <th colspan="2">合計</th>
                        <th>{{Amount_Total}}</th>
                        <th></th>
                        <th>
                            <span class="btn btn-success" style="line-height:1;width:100%" v-on:click="Add_Empty_Item">新增</span>
                        </th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    var form = new Vue({
        el: "#vue_Form",
        data: {
            serverlist: [],
        }, //資料
        created: function () {
            this.Get_Item_List()
        }, //預設
        computed: {
            Amount_Total: function () {
                let total = 0

                if (!$.isEmptyObject(this.serverlist)) {
                    this.serverlist.forEach((o, i) => {
                        total += parseInt(o.amount)
                    })
                }

                return total
            }, //總金額
        }, //計算
        methods: {
            Get_Item_List: function () {
                axios({
                    url: "../Item/Get_Item_List",
                    method: "POST",
                })
                    .then(function (response) {
                        form.serverlist = response.data.List

                        form.serverlist.forEach((o, i) => {
                            Vue.set(form.serverlist[i], 'newitem', false)
                            Vue.set(form.serverlist[i], 'showupdate', false)
                        })
                    })
                    .catch(function (error) {
                        alert(error)
                    })
            }, //取得項目清單
            Update_Item: function (item) {
                if (item.newitem) {
                    axios({
                        url: "../Item/Insert_Item",
                        method: "POST",
                        data: {
                            data: item,
                        },
                    })
                        .then(function (response) {
                            if ($.trim(response.data) == "true") {
                                item.newitem = false
                                item.showupdate = !item.showupdate
                            }
                            else {
                                alert("新增失敗！" + response.data)
                            }
                        })
                        .catch(function (error) {
                            alert(error)
                        })
                }
                else {
                    axios({
                        url: "../Item/Update_Item",
                        method: "POST",
                        data: {
                            data: item,
                        },
                    })
                        .then(function (response) {
                            if ($.trim(response.data)) {
                                item.showupdate = !item.showupdate
                            }
                            else {
                                alert("修改失敗！" + response.data)
                            }
                        })
                        .catch(function (error) {
                            alert(error)
                        })
                }
            }, //修改員工薪資項目
            Show_Update: function (item) {
                item.showupdate = !item.showupdate
            }, //顯示編輯
            Cancel_Update: function (item, index) {
                if (item.newitem) {
                    form.serverlist.splice(index, 1)
                }
                else {
                    axios({
                        url: "../Item/Get_Item_Data",
                        method: "POST",
                        data: {
                            itemid: item.itemid,
                        },
                    })
                        .then(function (response) {
                            item.showupdate = !item.showupdate
                            item.itemname = response.data.Data.itemname
                            item.amount = response.data.Data.amount
                        })
                        .catch(function (error) {
                            alert(error)
                        })
                }
            }, //取消編輯
            Delete_Item: function (item, index) {
                if (confirm("確定要刪除？")) {
                    axios({
                        url: "../Item/Delete_Item",
                        method: "POST",
                        data: {
                            itemid: item.itemid,
                        },
                    })
                        .then(function (response) {
                            if ($.trim(response.data)) {
                                form.serverlist.splice(index, 1)
                            }
                            else {
                                alert("刪除失敗！")
                            }
                        })
                        .catch(function (error) {
                            alert(error)
                        })
                }
            }, //刪除項目
            Add_Empty_Item: function () {
                form.serverlist.push({
                    itemid: '',
                    itemname: '',
                    amount: '0',
                    showupdate: false,
                    newitem: true,
                })

                let scroll = $("div#vue_Form").find("div.table-scroll")
                setTimeout(() => {
                    scroll.scrollTop(scroll.prop("scrollHeight"))
                }, 1)
            }, //新增項目列
        }, //方法
    }) //套用Vue(Form)
</script>

<style type="text/css">
    .table-scroll {
        max-height: 600px;
    }
</style>